/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #66cccc; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */




/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



/* MINE CSS */


body {                         
  background-color: #060606;   
  color: white;                
}                              
                               
#container {                   
  width: 1264px;               
  height: 690px;                
  margin: auto;                
}                              
                               
#top_bar {
  width: 1264px;
  height: 33px;
  background-image: url('../img/top.jpg')
}

#left {
  float: left;
  width:322px;
  height: 627px;
}

.left_nav a{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left:15px;
  line-height: 28px;
  padding-right: 234px;
  outline: none;
}

audio {
  outline: none;
}

.left_top {
  width:322px;
  height:226px;
  background-image: url("../img/left_top.jpg");
}

.left_nav {
  margin: 0;
  width:322px;
  margin-left:2px;
  height: 152px;
  background-image: url("../img/left_nav.jpg");
}
.left_nav ul {
  padding:0;
  margin:0px;
  list-style-type:none;
}

.left_nav li {
  cursor: pointer;
  background-color: #323232;
  margin-top: 2px;
}

.active a{
  color: #8BC7C1;
}

.event_meniu {
  width: 320px;
  height: 28px;
  background-color: #323232;
}

.blog_meniu {
  margin-top:2px;
  width: 320px;
  height: 28px;
  background-color: #323232;
}
.blog_body a{
  color: #66cccc;
}
.blog_body{
  font-weight:bold;
}

.gallery_meniu {
  margin-top: 2px;
  width: 320px;
  height: 28px;
  background-color: #323232;
}

.music_meniu{
  margin-top: 2px;
  width: 320px;
  height: 28px;
  background-color: #323232;
}

.contacts_meniu{
  margin-top: 2px;
  width: 320px;
  height: 28px;
  background-color: #323232;
}

.left_bottom {
  display: block;
  width: 322px;
  height: 249px;
  background-image: url("../img/left_bottom.jpg");
}

#right {                     
  float: left;
  width:942px;
  height: 627px;
  background-image: url('../img/content.jpg');
}

#wrapper {
  float:left;
  width: 550px;
  height: 563px;
  margin-top: 34px;
  margin-left:25px;
}

#event{
}

.thumb {
  float:left;
}
.thumb img{
  border: 0 !important;
  float:left;
  margin-right: 5px;
}

#right_meniu{
  width:360px;
  float:left;
  margin-top:42px;
}

#player{
  display: none;
}

#loading{
  background: url('../img/ajax-loader.gif');
  margin-left:158px;
  margin-top:50px;
  height:32px;
  width: 32px;
}


/*#content {
  margin: 20px 40px;
}*/

footer {
 width: 1264px;
 height: 30px;
 background-image: url("../img/bottom.jpg");
 clear: both;
}

#archive {
  position:fixed;
  color:#8BC7C1;
  border: 1px solid red;
  top:594px;
}
#archive p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:20px;
  font-weight:bold;
  color: #8BC7C1;
}

#test{
  border: 1px solid red;
  width:356px;
  height:200px;
}
input, textarea { 
  color: #fff;
  font-weight: bold;
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  background: transparent;
  /*background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));*/
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  }

textarea { 
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%;
  }

input:hover, textarea:hover,
input:focus, textarea:focus { 
  border-color: #C9C9C9; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  }

.form label { 
  margin-left: 10px; 
  color: #999999; 
  }

.submit input {
  width: auto;
  padding: 9px 15px;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }

.pagination{
  margin-top:10px;
}
