{% extends "base.html" %}

{% block content %}
<div class="payment_status">Your orders {{orders.length }}</div>
{% for orderline in orderlines %}

{% for song in orderline %}
<div class="download_box">
    <div class="download_box_song_name">{{ song.songs_name }}</div>
    <div class="download_box_download"><a href="/order/{{song}}/{{ song.songs_pk.pk }}/">&nbsp;</a></div>
</div>
{% endfor %}
{% endfor %}
<h5>If your purchase does not appear immediately, Please wait up-to 5 minutes whilst we verify your payment, then re-fresh. Thanks!.</h5>
{% endblock %}
