{% block content %}
  <form action="/contact/" method="post" class="contact_form">{% csrf_token%}

      <p class="name">
      {{ form.name }}
      </p>
        
      <p class="email">
      {{ form.email }}
      </p>

      <p class="subject">
      {{ form.subject }}
      </p>

      <p class="message">
      {{ form.message }}
      </p>

      <p class="captcha">
      {{ form.captcha }}
      </p>
      <p class="submit">
        <input type="submit" value="Submit" />
        </p>
  </form>
{% endblock %}
