{% block content %}

<table summary="Your Shopping Cart" id="shopping_cart">
		<caption>YOUR SHOPPING CART</caption>
		<thead>
			<tr>
				<th class="first_th" scope="col">Song</th>
				<th class="first_th" scope="col">Price</th>
				<th class="first_th" scrope="col">Action</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th class="right" colspan="2">
					Cart Subtotal:
				</th>
				<th class="right" style="text-align:right;">
					£{{ basket_subtotal }}
				</th>
			</tr>
			<tr>
				<th colspan="10" style="text-align:right">
                     <form name="paypal" id="paypal" action="{{ paypal_url }}" method="post">                                 
                         <input type="hidden" name="return" value="{{ paypal_return_url }}">
                     <input type="hidden" name="cancel_return" value="http://127.0.0.1:8000/">
                     <input type="hidden" name="business" value="{{ paypal_email }}">
                     <input type="hidden" name="cmd" value="_cart">
                     <input type="hidden" name="currency_code" value="GBP">
                     <input type="hidden" name="lc" value="GB">
                     <input type="hidden" name="upload" value="1" >
                     {% for song in basket_items %}
                     <input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ song.name}}">
                     <input type="hidden" name="amount_{{ forloop.counter }}" value="{{ song.price }}">
                     {% endfor %}
                     <input type="image" src="{{ MEDIA_URL }}img/cart/paypal.png" name="submit" alt="Make payments with PayPal - it's fast, free and secure!   ">
                      </form>
              <br> 
				</th>
			</tr>
		</tfoot>
		{% if basket_items %}
		{% for song in basket_items %}
		<tbody>
				<tr>
					<td>
							{{ song.name }}
					</td>
					<td>£{{ song.price|floatformat:2}}</td>
					<td style="text-align:right;">
					<form method="post" action="." class="cart">{% csrf_token %}
						<input type="hidden" name="song_id" value="{{ song.id }}"/>
						<input class="remove" type="submit" name="submit" value="Remove" />
					</form>
				</tr>
            
            
		</tbody>
		{% endfor %}
		{% endif %}
	</table>
    <div class="attention"><span style="font-weight:bold">Attention:</span> while awaiting your payment to process please wait a few moments for your account to be verified. Please avoid the click "If you are not redirected within 10 seconds"</div>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}
