<!doctype html>
{% load i18n %}
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block page_title %}Cause & Affect - Official website{% endblock %}</title>
    
    <meta name="description" content="Welcome to the official Cause & Affect website, Birmingham based DJ's and producers Kane & Lorenzo where you can keep up to date with Events, Music, Blogs, Releases and Music Shop. Where you can purchase the latest tracks by Cause & Affect. These tracks are exclusive to our website and will not be found anywhere else." />
    <meta name="keywords" content="Music tracks, Producers, DJ's, MP3, causenaffect, cause & affect, causenaffect beatdown, beatdown, Birmingham producers, glas residents, insomnia events,cause&affect ">  
    <meta name="author" content="Cause N Affect" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    
    {# TODO: <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" /> #}
    {# TODO: <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png" /> #}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/466938cb.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" />
    <!-- PrettyPhoto css -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/prettyPhoto.css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" />
    <!-- End of Pretty Photo css -->
    <!-- Scroller Customize -->
    <link href="{{ MEDIA_URL }}sc/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}js/jPlayer/skin/pink.flag/jplayer.pink.flag.css" rel="stylesheet" type="text/css" />
    <!-- END OF SCROLLER -->

    {% block css %}
    {% endblock %}
    
    <script src="{{ MEDIA_URL }}js/libs/modernizr-2.0.6.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}js/libs/jquery.min.js"><\/script>')</script>
    <script src="{{ MEDIA_URL }}js/jPlayer/js/jquery.jplayer.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29451935-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
<div id='topbar'><span style="font-size:20px;font-family:'Trebuchet MS',Helvetica, sans-serif;"><p></p></div>
<div id="container">
  <div id="top_bar"></div>
  <div id="left">
    <div class="left_top">
      <div class="cart_wrapper">
          <div class="cart_top"></div>
          <div class="cart_middle">
            {% if songs_count %}
            <div id="songs_count" class='items_left'><span class='json_songs'>{{ songs_count }}</span>
              <span class='little_song' class='small_item'>{% if songs_count == 1 %}song{% else %}songs{% endif %}</span></div>
              <div class='items_right'><span class='json_price'>£{{ basket_subtotal}}</span></div>
            {% else %}
            <div style="padding-top:9px;padding-left:96px;font-size:14px;font-style:italic;color:#fff" class="empty_cart">Your cart is empty</div>
            {% endif %}
          </div>
          <div class="cart_bottom"><a class="view_bsk" href="/music/cart/">&nbsp;</a></div>

      </div>
    </div>
    <div class="left_middle">
      <ul>
        <li><a href="/events/">EVENTS</a></li>
        <li><a href="/blog/">BLOG</a></li>
        <li><a href="/gallery/">GALLERY</a></li>
        <li><a href="/music/">MUSIC</a></li>
        <li><a href="/contact/">CONTACTS</a></li>
        <li><a href="/biography/">BIOGRAPHY</a></li>
      </ul>
    </div>
    <div class="left_bottom">
      {% if not request.user.is_authenticated %}
      <div style="width:308px;height:0px;" id="nav_login">
        <a title="Sign In" id="nav_signin" href="login"></a>
        <a title="Register" id="nav_register" href="register"></a>
      </div>
      <div style="margin-top:0px;margin-left:14px;float:left;width:380px;height:140px;background:url({{ MEDIA_URL}}img/register_bg.png) no-repeat;" class="register">
        <form id="registration_form" method="post" action="{% url login %}">
          {% csrf_token %}
          <input id="id_username" type="text" name="username" maxlength="30" placeholder="USERNAME" />
          <input type="password" name="password" id="id_password" placeholder="PASSWORD" />
          <br/>
          <span class="remember_me">Remember me</span>
          <input type="checkbox" name="remember" checked="checked"/>
          <input class="signin_button" type="submit" value="Sign In" />
          <input type="hidden" name="next" value="" />
        </form>
        <span class="forgot_wrapper">
          <a href="#" id="forgot_password">FORGOT YOUR PASSWORD?</a>
        </span>

      </div>
      {% else %}

      <div class="register_profile"><a href="/accounts/profile" >PROFILE</a></div>
      {% endif %}
      <div class="logos">
        <a title="facebook" href="http://www.facebook.com/profile.php?id=100000009533032" target="_blank" class="facebook_logo"></a>
        <a title="soundcloud" href="http://soundcloud.com/causenaffect" target="_blank" class="soundcloud_logo"></a>
        <a title="twitter" href="https://twitter.com/#!/CAUSENAFFECTUK" target="_blank" class="twitter_logo"></a>
        <a title="trax source" href="http://www.traxsource.com/index.php?act=search&ss=CAUSE+AFFECT&sc=artists" target="_blank" class="traxsource_logo"></a><img src="{{ MEDIA_URL }}img/join_us.png" />
      </div>
    </div>

  </div>
  <div id="middle">
    <div id="mcs_container">
      <div class="customScrollBox">
        <div class="container">
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div class="dragger_container">
          <div class="dragger"></div>
        </div>
      </div>
       <a href="#" class="scrollUpBtn"></a> <a href="#" class="scrollDownBtn"></a>
    </div>
  </div>
  <div id="right">
    <div class="right_top">
      <div class="player">
        <object height="200" width="92%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F2993269&amp;wmode=transparent&show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=false&amp;color=6fc7c1&theme_color=323232"></param> <param name="allowscriptaccess" value="always" wmode="transparent"></param><param name="wmode" value="transparent"><embed wmode="transparent" allowscriptaccess="always" height="200" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F2993269&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=false&amp;wmode=transparent&color=6fc7c1&theme_color=323232" type="application/x-shockwave-flash" width="91%"></embed> </object>
      </div>
    </div>
    <div class="right_middle">
      <div class="archive">
        {% block archive %}
        {% endblock %}
      </div>
    </div>
    <div class="right_bottom">
      <div class="slide">
        <div class="slide_images">
      {% for image in images %}
       {% if forloop.first %}
       <img src="{{ MEDIA_URL}}{{ image.image_slide }}" />
       {% endif %}
       {% if forloop.counter0 %}
       <img src="{{ MEDIA_URL}}{{ image.image_slide }}" style="display:none" />
       {% endif %}
       {% endfor %}
       </div>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
    <noscript>

  <style type="text/css">
    #mcs_container .customScrollBox{overflow:auto;}
    #mcs_container .dragger_container{display:none;}
  </style>

</noscript>
    {% if debug %}{% include 'includes/debug.html' %}{% endif %}
    {% block javascript_library %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript">
      var jq14 = $.noConflict(true);
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/meniu.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libs/jquery.cycle.lite.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.pjax.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.prettyPhoto.js"></script> 
    <script defer src="{{ MEDIA_URL }}js/plugins.js"></script>
    <script defer src="{{ MEDIA_URL }}js/script.js"></script>
    <!-- SCROLLBAR SCRIPTS -->
    <script type="text/javascript" src="{{ MEDIA_URL }}sc/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}sc/jquery.mousewheel.min.js"></script>
    <script src="{{ MEDIA_URL}}sc/jquery.mCustomScrollbar.js"></script>
    <script src="{{ MEDIA_URL}}sc/jquery.ba-resize.min.js"></script>
    <script src="{{ MEDIA_URL}}sc/customScrollBarMobile.js"></script>
    <!-- END OF SCROLLBAR SCRIPTS -->

    {% endblock %}
    {% block javascript %}{% endblock %}

<script>
jq14(window).load(function() {
  mCustomScrollbars();
});
function mCustomScrollbars(){
  $("#mcs_container").mCustomScrollbar("vertical",600,"easeOutCirc",1.00,"fixed","yes","yes",20); 
  if (jQuery.browser.mobile == true) {
      $("#mcs_container").mCustomScrollbarMobile("vertical",600,20); 
    }
}
/* function to fix the -10000 pixel limit of jquery.animate */
jq14.fx.prototype.cur = function(){
    if ( this.elem[this.prop] != null && (!this.elem.style || this.elem.style[this.prop] == null) ) {
      return this.elem[ this.prop ];
    }
    var r = parseFloat( jQuery.css( this.elem, this.prop ) );
    return typeof r == 'undefined' ? 0 : r;
}
/* function to load new content dynamically */
function LoadNewContent(id,file){
  jq14("#"+id+" .customScrollBox .content").load(file,function(){
    mCustomScrollbars();
  });
}
</script>

<script>
  $(document).ready(function(){
    $('.slide_images').cycle({
      fx: 'fade',
      /*delay: -4000,*/
      speed: 2500,
      timeout: 6000
    });
  });
</script>

<script>
$(document).ready(function(){
  var left_middle = $('.left_middle');
  var a = $('li a',left_middle).click(function(){
    a.removeClass('letters');
    $(this).addClass('letters');
  });
});
</script>

<script src="{{ MEDIA_URL}}js/mylibs/pjax_call1.js"></script>
<!-- SoundCLoud Player load after its compeltely load -->
<script>
$(window).load(function(){
//show()
});
function show(){
 $('#loading').hide();
 $('#player').fadeIn('slow');
}
setTimeout(show, 2000);
</script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto({
show_title: true,
theme: 'light_rounded' /* light_rounded / dark_rounded / light_square / dark_square / facebook */
});
              });
</script>
<script>
$(document).ready(function() {
    $('a[rel=external-new-window]').click(function(e){
    e.preventDefault();
    window.open(this.href, "myWindowName", "width=600, height=400");
    return false;
  });
});
</script>
<script>
        $(document).ready(function(){
      $(".basket").click(function(){
      $('#topbar p').text('SONG ADDED');
       $('#topbar').slideDown(800).delay(200);
       $('#topbar').slideUp(800);
  
      });
  });
</script>
<script>
  $('#forgot_password').click(function(){
    $('.register').empty();
    $('.register').append("<form id='registration_form' method='post' action='{% url forget_password %} '> {% csrf_token %} <input style='margin-left:8px' id='id_email' type='text' name='email' maxlength='30' placeholder='Email Address' /> <input type='submit' value='Sign In' />");


  });
</script>
<script>
  $('#nav_register').click(function(e){
    e.preventDefault();
    $('.register').empty();
    $('#nav_signin').css('background-position','0px 34px');
    $('#nav_register').css('background-position','154px 34px');
    $('.register').append("<form method='post' id='registration_form' action='{% url login %}' style='margin-top:4px';>{% csrf_token %} <input style='margin-left:8px' id='id_username' type='text' name='username' maxlength='15' placeholder='USERNAME' /> <input id='id_email' type='text' name='email' maxlength='30' placeholder='EMAIL'/> <input type='password' name='password1' id='id_password1' placeholder='PASSWORD' /> <input type='password' name='password2' id='id_password2' placeholder='CONFIRM PASSWORD' /> <input id='register_button' type='submit' value='Register' /> <input type='hidden' name='next' value='{{ next }}' />");

  }); 
  $('#nav_signin').click(function(e){
    e.preventDefault();
    $('.register').empty();
    $('#nav_signin').css('background-position','0px 0px');
    $('#nav_register').css('background-position','154px 0px');
    $('.register').append("<form id='registration_form' method='post' action='{% url auth_register %}'> {% csrf_token %} <input id='id_username' type='text' name='username' maxlength='30' placeholder='USERNAME' /> <input type='password' name='password' id='id_password' placeholder='PASSWORD' /> <br/> <span class='remember_me'>Remember me</span> <input type='checkbox' name='remember' checked='checked' />  <input class='button_signin' type='submit' value='Sign In' /> <input type='hidden' name='next' value='' /> </form> <span class='forgot_wrapper'><a href='#' id='forgot_password'>FORGOT YOUR PASSWORD?</a></span>");

  });

</script>


    <!--[if lt IE 7 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
{% endblock %}
</body>
</html>
