{% block content %}


  <form action="/contact/" method="post" class="contact_form">{% csrf_token%}


      <p class="name">
      {{ form.name }}
      <label for="name">Name</label>
      </p>
        
      <p class="email">
      {{ form.email }}
      <label for="name">Email</label>
      </p>

      <p class="subject">
      {{ form.subject }}
      <label for="subject">Subject</label>
      </p>

      <p class="message">
      <textarea id="id_message" name="message"></textarea>
      </p>

      <p class="captcha">
      {{ form.captcha }}
      </p>
      <p class="submit">
        <input type="submit" value="Submit" />
        </p>
  </form>

    <!--
  <form action="/contact/" method="post">
  <input type="submit" value="Submit" />
  </form>  -->                                                                                              

{% endblock %}
