{% extends "base.html" %}

{% block content %}
<table summary="Your Shopping Cart" id="shopping_cart">
		<caption>YOUR SHOPPING CART</caption>
		<thead>
			<tr>
				<th class="first_th" scope="col">Song</th>
				<th class="first_th" scope="col">Price</th>
				<th class="first_th" scrope="col">Action</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th class="right" colspan="2">
					Cart Subtotal:
				</th>
				<th class="right" style="text-align:right;">
					£{{ basket_subtotal }}
				</th>
			</tr>
			<tr>
				<th colspan="10" style="text-align:right">
                    {{ form }}
              <br> 
				</th>
			</tr>
		</tfoot>
		{% if basket_items %}
		{% for song in basket_items %}
		<tbody>
				<tr>
					<td>
							{{ song.name }}
					</td>
					<td>£{{ song.price|floatformat:2}}</td>
					<td style="text-align:right;">
					<form method="post" action="." class="cart">{% csrf_token %}
						<input type="hidden" name="song_id" value="{{ song.id }}"/>
						<input class="remove" type="submit" name="submit" value="Remove" />
					</form>
				</tr>
            
            
		</tbody>
		{% endfor %}
		{% endif %}
	</table>
    <div class="attention"><span style="font-weight:bold">Attention:</span> After payment please click on link "Return to causenaffectuk@hotmail.com"</div>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}
{% block javascript %}
{% endblock %}
