{% extends "base.html" %}
{% block content %}
<img id="form_loader" style="margin-top:160px;margin-left:234px;display:none" src="{{ MEDIA_URL}}img/ajax-loader.gif" />
<div class="thank_you"></div>
  <form action="/contact/" method="post" class="contact_form">{% csrf_token%}

      <p class="name">
      {{ form.errors }}
      {{ form.name }}
      </p>
        
      <p class="email">
      {{ form.errors }}
      {{ form.email }}
      </p>

      <p class="subject">
      {{ form.errors }}
      {{ form.subject }}
      </p>

      <p class="message">
      {{ form.errors }}
      {{ form.message }}
      </p>

      <p class="captcha">
      {{ form.errors }}
      {{ form.captcha }}
      </p>
      <p class="submit">
      <input type="submit" value="Submit" />
        </p>
  </form>
  <script>

      $('.contact_form').submit(function(e){
          e.preventDefault();
          //$.post("/contact/",{name:$('#id_name').val(),email:$('#id_email').val(),csrf_token:'{{ csrf_token }}'},);
          function isValidEmailAddress(emailAddress) {
              var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
              return pattern.test(emailAddress);
          };
          if ( !isValidEmailAddress($('#id_email').val())) {
              $('#id_email').val("Please enter correct email").css('color','red');
              $('#id_email').css('color','white');
          }
          else{
              $('.contact_form').hide();
              $('#form_loader').show();
          $.post("/contact/", {name:$('#id_name').val(),email:$('#id_email').val(),subject:$('#id_subject').val(),message:$('#id_message').val(),captcha_0:$('#id_captcha_0').val(),captcha_1:$('#id_captcha_1').val(),csrfmiddlewaretoken:'{{csrf_token}}'},
          function(json) {
              if( json == "thanks"){
                $('#form_loader').hide();
                $('.thank_you').text("Thank tou for submitting form, we will contact to you back as soon as possible");
              }
              else{
                  alert("error");
              }
          });
      }
          });

  </script>

{% endblock %}
